# If no PREFIX_ is intended by the application/image - add one to avoid conflicts with other applications.
# Remap the variables in compose.yaml to the intended prefix-less variables.
# Only specify the variables that are considered sensitive or that you want to override.

# database
POSTGRES_USER=directus_user
POSTGRES_PASSWORD=directus_password
POSTGRES_DB=directus_db

# backend (directus)
DIRECTUS_PUBLIC_URL=http://localhost:8055
DIRECTUS_KEY=your-strong-random-key
DIRECTUS_SECRET=your-equally-strong-random-secret
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=your-admin-password
DIRECTUS_AUTH_MICROSOFT_CLIENT_ID=your-client-id
DIRECTUS_AUTH_MICROSOFT_CLIENT_SECRET=your-client-secret
DIRECTUS_AUTH_MICROSOFT_REDIRECT_ALLOW_LIST=http://localhost:3000/login
DIRECTUS_SESSION_COOKIE_DOMAIN=localhost